@font-face {
    font-family: "norseBold";
    src: url("files/Norse-Bold.otf");
}


#container {
    display:flex;
    flex-direction: row;
}

#left-side {
    width: 450px;
    height:100vh;
    background-image: url("files/background.jpg");
    background-size: cover;
    font-family: "norseBold";
    color: white;
    font-size: 85px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

#behind-logo {
    margin-top: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100px;  
    background-color: rgba(0, 0, 0, 0.39);

}

#logo-text {
    margin-bottom: -22px;
}

#outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height:100vh;
    width: 100vw;
}

#right-side {
    height: 100vh;
    width: 40vw;
    background-color: white;

}

#right-side-header {
    padding-top: 7rem;
    padding-bottom: 3rem;
    padding-left: 2rem;
    font-size: 22px;
    font-weight: 600;
    background-color: rgb(245, 245, 245);
}

#right-side-main {
    font-size: 22px;
    font-weight: 600;
    padding-left: 2rem;
    padding-top:1rem;
}

label {
    font-size: 12px;
    color: rgba(10, 10, 31, 0.644);
}

#right-side-footer {
    padding-top: 2rem;
    padding-left: 2rem;
}

form {
    display: flex;
    flex-wrap: wrap;
}

form > div {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
}

input {
    border: 1px solid #E5E7EB;
    width: 16rem;
    height: 1.5rem;
    border-radius: 4px;
}

input:focus {
    border: 1px solid rgb(15, 38, 243);
    box-shadow: 2px 2px 6px darkgrey;
}

.error {
    border: 1px solid rgba(218, 82, 82, 0.973);
}

#pass-error {
    font-size: 12px;
    color: rgb(177, 3, 3);
    font-weight: normal;
}

button {
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: #596D48;
    color: white;
    height: 3rem;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
}

a {
    color: #596D48;
    text-decoration: none;
    font-weight: bold;
}

#photo-tag {
    font-size: 14px;
    font-family: Times;
    color: white;
    opacity: 0.75;
    align-self: center;
    padding-bottom: 1rem;
}